.quote{
    background-color: black;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img{
    margin-top: 40px;
    padding: 10px;
    padding-top: 0;
    border: 1px solid black;
    box-shadow: -1px 1px 16px -1px rgba(0, 0, 0, 0.75);
    margin: 10px;
    overflow: hidden;
    transition: transform 1s;
    margin: 20px;
}
h1{
    font-size: 60px;
}
h3{
    font-family: 'Cormorant', serif;
    font-size: 50px;
}
.quote h1{
    font-family: 'Cormorant', serif;
}
.quote h2{
    font-family: 'Cormorant', serif;
}
.jumbotron{
    background-color: black;
    color: white;
    margin: 20px;
    font-family: 'Cormorant', serif;
}
