{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
{{super()}}
{%endblock%}

{% block content%}
<h1 class="text-center">{{title}}</h1>
<div class="row text-center">
    <a href="{{url_for('main.blog' ,blog_id = 1)}}"><button type="button">Blogs</button> </a>
</div>
<div class="quote">
<h2 class="text-center" >{{quotes.author}}</h2>
<h2 class="text-center" >{{quotes.quote}}</h2>
<div class="subscribe">
    {{wtf.quick_form(subscriber_form)}}
</div>
</div>



{% endblock %}