{% extends 'base.html'%}
{% block styles%}
{{super()}}
{% endblock %}

{% block content%}
<div class="container">
    <h1> {{current_user.name}}</h1>
    {%if current_user.profile_pic%}
    <div class="col-md-4 col-md-5 col-lg-5">
    <img src="{{url_for('static',filename = current_user.profile_pic)}}" alt="{{current_user.name}}" class="img-thumbnail">
    {%endif%}
    <div class="row">
        <div class="col-md-12">
        <p>Bio: {{current_user.bio}}</p>
        <div class="col-md-12">
            <a href="{{url_for('main.update_profile',user_id = current_user.id)}}"><button class='btn btn-danger btn-lg'>Update profile </button></a>        
            </div>
        </div>
    <h1></h1>
</div>
{% endblock %}